.container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 480px;
  margin-bottom: 0px;
  padding-top: 50px;
}

.container > h1 {
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 20px;
  background: -webkit-linear-gradient(
    90deg,
    #de00bb 2.82%,
    #8a6cf8 44.93%,
    #00d8e6 95.55%
  );
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* .container > img {
  margin-bottom: 20px;
} */

.astrocont {
  display: flex;
  position: absolute;
  margin-left: 800px;
  margin-top: -50px;
}

@media (max-width: 1200px) {
  .container {
    margin-top: 30px;
  }
  .container > img {
    width: 132.3px;
    height: 41.3px;
  }
  .container > h1 {
    font-size: 45px;
  }
  .astrocont {
    margin-left: 715px;
    margin-top: -75px;
  }
  .astrocont > img {
    width: 180px;
    height: 180px;
  }
}
@media (max-width: 1000px) {
  .container {
    height: auto;
    margin-top: 40px;
    margin-bottom: 50px;
  }
  .container > img {
    width: 119.07px;
    height: 37.17px;
  }
  .container > h1 {
    font-size: 40px;
  }
  .astrocont {
    margin-left: 570px;
    margin-top: -90px;
  }
}
@media (max-width: 768px) {
  .container {
    height: auto;
    margin-top: 40px;
    margin-bottom: 10px;
  }
  .container > img {
    width: 107.163px;
    height: 33.453px;
  }
  .container > h1 {
    font-size: 35px;
  }
  .astrocont {
    margin-left: 455px;
    margin-top: -90px;
  }
}
@media (max-width: 642px) {
  .container {
    margin-top: 50px;
    margin-bottom: 0px;
  }
  .astrocont {
    margin-left: 250px;
    margin-top: -80px;
  }
}
@media (max-width: 480px) {
  .container {
    margin-top: 10px;
    padding-top: 30px;
    margin-bottom: 10px;
  }
  .container > h1 {
    text-align: center;
  }
  .container > img {
    align-self: center;
  }
  .astrocont {
    display: none;
  }
}
