.container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 480px;
  margin-left: 165px;
  margin-bottom: 0px;
  padding-top: 50px;
}

.container > img {
  margin-bottom: 20px;
}

.astrocont {
  display: flex;
  position: absolute;
  margin-left: 800px;
  margin-top: -50px;
}

@media (max-width: 1200px) {
  .container {
    margin-left: 100px;
    margin-top: 30px;
  }
  .container > img {
    width: 132.3px;
    height: 41.3px;
  }
  .astrocont {
    margin-left: 715px;
    margin-top: -75px;
  }
  .astrocont > img {
    width: 180px;
    height: 180px;
  }
}
@media (max-width: 1000px) {
  .container {
    margin-left: 10px;
  }
  .container > img {
    width: 119.07px;
    height: 37.17px;
  }
  .astrocont {
    margin-left: 570px;
    margin-top: -90px;
  }
}
@media (max-width: 768px) {
  .container {
    margin-left: 5px;
    margin-top: 40px;
  }
  .container > img {
    width: 107.163px;
    height: 33.453px;
  }
  .astrocont {
    margin-left: 455px;
    margin-top: -90px;
  }
}
@media (max-width: 642px) {
  .container {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .astrocont {
    margin-left: 290px;
    margin-top: -110px;
  }
}
@media (max-width: 480px) {
  .container {
    margin-top: 10px;
    padding-top: 30px;
    margin-bottom: 10px;
  }
  .container > img {
    align-self: center;
  }
  .astrocont {
    display: none;
  }
}
