.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 100px;
}

.agency {
  position: absolute;
  width: 665px;
  height: 99px;
  border-radius: 20px;
  border: 1px solid #de00bb;
  background: linear-gradient(45deg, #1b1824 -3.28%, rgba(27, 24, 36, 0) 100%),
    linear-gradient(90deg, #de00bb 2.82%, #8a6cf8 44.93%, #00d8e6 95.55%);
  opacity: 0.6;
}

.container > h1 {
  font-size: 80px;
  font-weight: 800;
  text-align: center;
  align-self: center;
  background: -webkit-linear-gradient(
    45deg,
    #de00bb 2.82%,
    #8a6cf8 44.93%,
    #00d8e6 95.55%
  );
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
}

.container > img {
  padding: 10px 0px;
  z-index: 1;
}

.container > h2 {
  margin: 30px 10px;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  text-shadow: #8a6cf8 1px 0 10px;
}

@media (max-width: 1200px) {
  .container {
    margin-top: 90px;
  }
  .container > img {
    width: 527px;
    height: 70px;
  }
  .container > h1 {
    font-size: 72px;
  }
  .agency {
    width: 600px;
    height: 88px;
  }
  .container > h2 {
    margin: 25px 10px;
    font-size: 22px;
  }
}
@media (max-width: 1000px) {
  .container {
    margin-top: 60px;
  }
  .container > img {
    width: 480px;
    height: 63.76px;
  }
  .container > h1 {
    font-size: 64px;
  }
  .agency {
    width: 570px;
    height: 77px;
  }
  .container > h2 {
    margin: 40px 10px;
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .container {
    margin-top: 45px;
  }
  .container > img {
    width: 350px;
    height: 46.49px;
  }
  .container > h1 {
    font-size: 48px;
  }
  .agency {
    width: 380px;
    height: 60px;
  }
  .container > h2 {
    margin: 20px 10px;
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  .container {
    margin-top: 25px;
  }
  .container > img {
    width: 300px;
    height: 39.85px;
  }
  .container > h1 {
    font-size: 43px;
  }
  .agency {
    width: 340px;
    height: 55px;
  }
  .container > h2 {
    margin: 15px 10px;
    font-size: 16px;
  }
}
@media (max-width: 376px) {
  .container > img {
    width: 250px;
    height: 33.2px;
  }
  .container > h1 {
    font-size: 35px;
  }
  .agency {
    width: 300px;
    height: 47px;
  }
  .container > h2 {
    margin: 5px 10px;
    font-size: 14px;
  }
}
@media (max-width: 360px) {
  .container {
    margin-top: 15px;
  }
}
