.container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 165px;
}

.container > img {
  margin-bottom: 20px;
}

/* .pluslist {
  display: grid;
  grid-template-columns: 30% 70%;
  z-index: 1;
} */

.astrocont {
  position: absolute;
  margin-top: 150px;
  margin-left: 670px;
}

@media (max-width: 1200px) {
  .container {
    margin-left: 100px;
    margin-top: -60px;
  }
  .container > img {
    width: 105px;
    height: 41.3px;
  }
  .astrocont {
    margin-left: 570px;
  }
  .astrocont > img {
    width: 330px;
    height: 330px;
  }
}
@media (max-width: 1000px) {
  .container {
    margin-left: 10px;
    margin-top: -80px;
  }
  .container > img {
    width: 94.5px;
    height: 37.17px;
  }
  .astrocont {
    margin-top: 170px;
    margin-left: 470px;
  }
}
@media (max-width: 810px) {
  .astrocont {
    margin-top: 80px;
    margin-left: 510px;
  }
  .astrocont > img {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 768px) {
  .container {
    margin-left: 5px;
  }
  .container > img {
    width: 85.05px;
    height: 33.453px;
  }
  .astrocont {
    margin-left: 400px;
  }
}
@media (max-width: 642px) {
  .container {
    margin-top: -10px;
  }
  .astrocont {
    display: none;
  }
}
@media (max-width: 480px) {
  .container {
    margin-left: 0;
  }
  .container > img {
    align-self: center;
  }
  .astrocont {
    display: none;
  }
}
