.container {
  display: flex;
  flex-direction: column;
  max-width: 1065px;
  margin-bottom: 30px;
}

/* .container > img {
  margin-bottom: 20px;
} */

.container > h1 {
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 10px;
  background: -webkit-linear-gradient(
    90deg,
    #de00bb 2.82%,
    #8a6cf8 44.93%,
    #00d8e6 95.55%
  );
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

/* .pluslist {
  display: grid;
  grid-template-columns: 30% 70%;
  z-index: 1;
} */

.astrocont {
  position: absolute;
  margin-top: -10px;
  margin-left: 630px;
}

@media (max-width: 1200px) {
  .container {
    min-width: 910px;
    margin-top: -80px;
  }
  .container > h1 {
    font-size: 45px;
    margin-bottom: 10px;
  }
  .container > img {
    width: 105px;
    height: 41.3px;
    margin-bottom: 10px;
  }
  .astrocont {
    margin-left: 450px;
  }
}
@media (max-width: 1000px) {
  .container {
    margin-top: 0px;
    min-width: 755px;
  }
  .container > h1 {
    font-size: 40px;
  }
  .container > img {
    width: 94.5px;
    height: 37.17px;
  }
  .astrocont {
    margin-left: 350px;
  }
}
@media (max-width: 768px) {
  .container {
    min-width: 640px;
  }
  .container > h1 {
    font-size: 35px;
  }
  .container > img {
    width: 85.05px;
    height: 33.453px;
  }
  .astrocont {
    margin-top: 20px;
    margin-left: 330px;
  }
  .astrocont > img {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 642px) {
  .container {
    margin-top: -30px;
    min-width: 340px;
  }
  .astrocont {
    display: none;
  }
}
@media (max-width: 480px) {
  .container {
    margin-left: 0;
  }
  .container > h1 {
    text-align: center;
  }
  .container > img {
    align-self: center;
  }
  .astrocont {
    display: none;
  }
}

@media (max-width: 360px) {
  .container {
    min-width: auto;
  }
}
