.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
  position: relative;
}

.container > h1 {
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 20px;
  background: -webkit-linear-gradient(
    90deg,
    #de00bb 2.82%,
    #8a6cf8 44.93%,
    #00d8e6 95.55%
  );
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.slidercont {
  position: relative;
  width: 400px;
}

.swiper {
  width: 500px;
}

.card {
  background-color: white;
  border-radius: 20px;
  border: 2px solid rgb(131, 94, 165);
  box-shadow: 2px 2px 4px #8a6cf8;
  width: 400px;
  height: 400px;
  color: #111;
  font-size: 22px;
}

.card > div > span {
  font-size: 32px;
}

.boxval {
  padding: 20px;
  color: #111;
}

@media (max-width: 1200px) {
  .container > h1 {
    font-size: 45px;
    margin-bottom: 10px;
  }
  .card {
    width: 300px;
  }
  .card > div > span {
    font-size: 28px;
  }
  .boxval {
    padding: 15px;
  }
}
@media (max-width: 1000px) {
  .container > h1 {
    font-size: 40px;
  }
  .swiper {
    width: 400px;
  }
  .card {
    width: 250px;
  }
  .card > div > span {
    font-size: 26px;
  }
  .boxval {
    padding: 10px;
    font-size: 18px;
  }
  .slidercont {
    margin-left: 25%;
  }
}
@media (max-width: 768px) {
  .container > h1 {
    font-size: 35px;
  }
  .swiper {
    width: 300px;
  }
  .slidercont {
    margin-left: 10%;
  }
}
@media (max-width: 480px) {
  .card {
    width: 300px;
    height: 310px;
  }
  .card > div > span {
    font-size: 24px;
  }
  .boxval {
    padding: 5px;
    font-size: 18px;
  }
  .slidercont {
    --swiper-navigation-size: 20px;
    --swiper-navigation-sides-offset: 5px;
    --swiper-navigation-color: #8a6cf8;
    width: 310px;
    margin-left: 0;
  }
}
@media (max-width: 320px) {
  .card {
    width: 230px;
    height: 240px;
  }
  .slidercont {
    width: 240px;
  }
  .card > div > span {
    font-size: 20px;
  }
  .boxval {
    padding: 5px;
    font-size: 16px;
  }
}
