.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.number {
  margin-top: 35px;
  font-size: 20px;
  font-weight: 600;
  margin-right: 50px;
  margin-left: 20px;
  color: rgba(6, 212, 231, 1);
}

.menu {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    rgba(34, 25, 36, 0.46),
    rgba(49, 47, 84, 1),
    rgba(24, 23, 41, 1)
  );
  padding: 0 10px 0px 10px;
  width: 360px;
  height: 80vh;
}

.logo {
  margin-left: 0px;
  margin-top: 40px;
  margin-right: 40px;
}

.navbar {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-top: 35px;
}

.navbar > li {
  display: inline-block;
  transition-duration: 0.5s;
}

.navbar > li > button {
  display: block;
  outline: none;
  background: none;
  background-color: transparent;
  border: none;
  text-decoration: none;
  white-space: nowrap;
  font-size: 18px;
  font-weight: 500;
  padding: 5px 20px;
  transition-duration: 0.4s;
}

.navbar > li > button:hover {
  text-decoration: underline rgba(216, 9, 192, 1);
}

@media (max-width: 1200px) {
  .logo {
    width: 175.7px;
    height: 41.3px;
    margin-top: 30px;
    margin-right: 40px;
  }
  .number {
    font-size: 18px;
    margin-left: 20px;
    margin-top: 30px;
  }
  .navbar {
    margin-top: 30px;
  }
  .navbar > li > button {
    font-size: 16px;
    padding: 5px 15px;
  }
}
@media (max-width: 1000px) {
  .logo {
    display: none;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
  }
  .number {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 16px;
  }
  .navbar {
    margin-top: 20px;
  }
  .navbar > li > button {
    font-size: 14px;
    padding: 5px 13px;
  }
}
@media (max-width: 768px) {
  .number {
    font-size: 14px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
  }
  .navbar {
    margin-top: 5px;
  }
  .navbar > li > button {
    font-size: 12px;
    padding: 5px 13px 5px 0px;
  }
}
@media (max-width: 525px) {
  .number {
    display: none;
  }
}
@media (max-width: 480px) {
  .newhead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
    padding: 20px 5px 0 5px;
  }
  .newhead > button {
    background: transparent;
    border: none;
    margin-top: -2px;
  }
  .navbar {
    color: #fff;
    flex-direction: column;
    width: 90%;
  }
  .navbar > li {
    width: 90%;
    margin-bottom: 20px;
  }
  .navbar > li > button {
    font-size: 26px;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 100;
  }
  .navbar > li > button:hover {
    text-decoration: none;
  }
  .number {
    display: flex;
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 460px) {
  .newhead {
    gap: 50px;
  }
  .number {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .menu {
    width: 330px;
  }
  .newheadlogo {
    width: 125px;
    height: 29px;
  }
  .number {
    font-size: 12px;
  }
  .newhead > button > img {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 360px) {
  .newhead {
    gap: 30px;
  }
  .menu {
    width: 240px;
    height: 70vh;
  }
  .newlogo {
    width: 125px;
    height: 29px;
  }
  .menu > div > button > img {
    width: 15px;
    height: 15px;
  }
  .navbar > li > button {
    font-size: 20px;
  }
}

@media (max-width: 320px) {
  .newhead {
    gap: 20px;
  }
}

@media (max-width: 300px) {
  .newheadlogo {
    width: 100px;
    height: 23.2px;
  }
}

@media (max-width: 265px) {
  .newhead {
    gap: 10px;
  }
  .newhead > button > img {
    width: 25px;
    height: 25px;
  }
  .menu {
    width: 200px;
    height: 50vh;
  }
}
