.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.number {
  margin-top: 35px;
  font-size: 20px;
  font-weight: 600;
  margin-right: 50px;
  margin-left: 20px;
  color: rgba(6, 212, 231, 1);
}

.logo {
  margin-left: 0px;
  margin-top: 40px;
  margin-right: 40px;
}

.navbar {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-top: 35px;
}

.navbar > li {
  display: inline-block;
  transition-duration: 0.5s;
}

.navbar > li > button {
  display: block;
  outline: none;
  background: none;
  background-color: transparent;
  border: none;
  text-decoration: none;
  white-space: nowrap;
  font-size: 18px;
  font-weight: 500;
  padding: 5px 20px;
  transition-duration: 0.4s;
}

.navbar > li > button:hover {
  text-decoration: underline rgba(216, 9, 192, 1);
}

@media (max-width: 1200px) {
  .logo {
    width: 175.7px;
    height: 41.3px;
    margin-top: 30px;
    margin-right: 40px;
  }
  .number {
    font-size: 18px;
    margin-left: 20px;
    margin-top: 30px;
  }
  .navbar {
    margin-top: 30px;
  }
  .navbar > li > button {
    font-size: 16px;
    padding: 5px 15px;
  }
}
@media (max-width: 1000px) {
  .logo {
    display: none;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
  }
  .number {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 16px;
  }
  .navbar {
    margin-top: 20px;
  }
  .navbar > li > button {
    font-size: 14px;
    padding: 5px 13px;
  }
}
@media (max-width: 768px) {
  .number {
    font-size: 14px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
  }
  .navbar {
    margin-top: 5px;
  }
  .navbar > li > button {
    font-size: 12px;
    padding: 5px 13px 5px 0px;
  }
}
@media (max-width: 480px) {
  .header > img {
    margin-top: 5px;
  }
  .number {
    display: none;
  }
  .navbar > li > button {
    font-size: 12px;
    margin: 20px 0px;
  }
}

@media (max-width: 375px) {
  .navbar > li > button {
    padding-right: 7px;
  }
  .navbar {
    display: grid;
    grid-template-columns: repeat(3, 90px);
    justify-items: center;
    margin-bottom: 15px;
  }
  .navbar > li {
    max-height: 25px;
  }
}
@media (max-width: 280px) {
  .navbar {
    grid-template-columns: repeat(3, 70px);
  }
  .navbar > li > button {
    font-size: 10px;
  }
}
