.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.number {
  margin-top: 35px;
  font-size: 20px;
  font-weight: 600;
  margin-right: 50px;
  margin-left: 50px;
  background: -webkit-linear-gradient(
    45deg,
    #de00bb 2.82%,
    #8a6cf8 44.93%,
    #00d8e6 95.55%
  );
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo {
  margin-left: 0px;
  margin-top: 40px;
  margin-right: 50px;
}

.navbar {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-top: 35px;
}

.navbar > li {
  display: inline-block;
  transition-duration: 0.5s;
}

.navbar > li > button {
  display: block;
  outline: none;
  background: none;
  background-color: transparent;
  border: none;
  text-decoration: none;
  white-space: nowrap;
  font-size: 18px;
  font-weight: 500;
  padding: 5px 30px;
  transition-duration: 0.4s;
}

.navbar > li > button:hover {
  text-decoration: underline rgba(216, 9, 192, 1);
}

@media (max-width: 1200px) {
  .logo {
    width: 175.7px;
    height: 41.3px;
    margin-top: 30px;
  }
  .number {
    font-size: 18px;
    margin-left: 40px;
    margin-top: 30px;
  }
  .navbar {
    margin-top: 30px;
  }
  .navbar > li > button {
    font-size: 16px;
  }
}
@media (max-width: 1000px) {
  .logo {
    width: 123px;
    height: 28.91px;
    margin-left: 50px;
    margin-top: 20px;
  }
  .number {
    margin-top: 20px;
    font-size: 16px;
  }
  .navbar {
    margin-top: 20px;
  }
  .navbar > li > button {
    font-size: 14px;
    padding: 5px 13px;
  }
}
@media (max-width: 768px) {
  .logo {
    display: none;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
  }
  .number {
    font-size: 14px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
  }
  .navbar {
    margin-top: 5px;
  }
  .navbar > li > button {
    font-size: 12px;
    padding: 5px 13px 5px 0px;
  }
}
@media (max-width: 480px) {
  .header > img {
    margin-top: 5px;
  }
  .number {
    margin-top: 5px;
    font-size: 16px;
  }
  .navbar > li > button {
    font-size: 16px;
    margin: 20px 20px;
  }
}
@media (max-width: 415px) {
  .number {
    display: none;
  }
}
