.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-bottom: 20px;
}

.swiper {
  --swiper-navigation-sides-offset: 1px;
  --swiper-navigation-color: rgba(88, 60, 111, 1);
  --swiper-navigation-size: 30px;
}

.proj {
  text-align: center;
}

.proj > label {
  font-size: 33px;
  font-weight: 500;
  font-family: "Lexend Deca", sans-serif;
}

.proj > div {
  margin-top: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 510px;
}

.proj > div > div {
  border-radius: 20px;
  width: 300px;
  height: 450px;
}

.proj > div > button {
  width: 80%;
  font-size: 12px;
  padding: 10px 45px;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #fff;
  transition-duration: 0.5s;
}

.proj > div > button:hover {
  width: 85%;
  font-size: 14px;
  border-color: blueviolet;
}

@media (max-width: 1200px) {
  .proj > label {
    font-size: 30px;
  }
  .proj > div {
    height: 480px;
  }
  .proj > div > div {
    width: 280px;
    height: 420px;
  }
}
@media (max-width: 1000px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 280px);
  }
  .proj {
    align-self: center;
    justify-self: center;
  }
}
@media (max-width: 768px) {
  .container {
    gap: 30px;
  }
  .proj > label {
    font-size: 28px;
  }
  .proj > div {
    margin-top: 10px;
    height: 450px;
  }
  .proj > div > div {
    width: 260px;
    height: 390px;
  }
}
@media (max-width: 600px) {
  .container {
    grid-template-columns: repeat(1, 300px);
    gap: 15px;
  }
  .proj > label {
    font-size: 26px;
  }
  .proj > div {
    height: 510px;
  }
  .proj > div > div {
    width: 300px;
    height: 450px;
  }
}

@media (max-width: 480px) {
  .swiper {
    width: 360px;
  }
}

@media (max-width: 360px) {
  .swiper {
    width: 300px;
  }
  .proj > label {
    font-size: 24px;
  }
  .proj > div {
    height: 430px;
  }
  .proj > div > div {
    width: 250px;
    height: 375px;
  }
}
@media (max-width: 300px) {
  .swiper {
    width: 220px;
  }
  .proj > label {
    font-size: 22px;
  }
  .proj > div {
    height: 385px;
  }
  .proj > div > div {
    width: 220px;
    height: 325px;
  }
  .proj > div > button {
    padding: 10px 35px;
  }
}
