.buttoncontainer {
  width: 290px;
  height: 61px;
  background: linear-gradient(
    90deg,
    #de00bb 2.82%,
    #8a6cf8 44.93%,
    #00d8e6 95.55%
  );
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttoncontainer > button {
  position: absolute;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  width: 280px;
  height: 50px;
  background: #fff;
  border-radius: 20px;
  border: none;
  z-index: 1;
  transition-duration: 0.5s;
}

.buttoncontainer > button > span {
  background: -webkit-linear-gradient(
    45deg,
    #de00bb 2.82%,
    #8a6cf8 44.93%,
    #00d8e6 95.55%
  );
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.buttoncontainer > button:hover {
  font-size: 22px;
  box-shadow: 4px 4px 4px rgba(126, 17, 181, 0.7);
}

@media (max-width: 1200px) {
  .buttoncontainer {
    width: 260px;
    height: 54.9px;
  }
  .buttoncontainer > button {
    font-size: 18px;
    width: 250px;
    height: 45px;
  }
  .buttoncontainer > button:hover {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  .buttoncontainer {
    width: 200px;
    height: 42.7px;
  }
  .buttoncontainer > button {
    font-size: 16px;
    width: 190px;
    height: 36.7px;
  }
  .buttoncontainer > button:hover {
    font-size: 18px;
  }
}
@media (max-width: 430px) {
  .buttoncontainer {
    width: 120px;
    height: 26px;
  }
  .buttoncontainer > button {
    font-size: 8px;
    width: 110px;
    height: 21px;
  }
  .buttoncontainer > button:hover {
    font-size: 10px;
  }
}
/* @media (max-width: 427px) {
  .buttoncontainer {
    width: 180px;
    height: 35.25px;
  }
  .buttoncontainer > button {
    font-size: 14px;
    width: 170px;
    height: 30.25px;
  }
  .buttoncontainer > button:hover {
    font-size: 16px;
  }
} */
