.buttoncontainer {
  width: 290px;
  height: 61px;
  background: linear-gradient(rgba(6, 209, 228, 0.47), rgba(177, 0, 255, 0.63));
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttoncontainer > button {
  position: absolute;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  width: 290px;
  height: 61px;
  background: transparent;
  border-radius: 20px;
  border: none;
  z-index: 1;
  transition-duration: 0.5s;
}

.buttoncontainer > button > span {
  color: #fff;
}

.buttoncontainer > button:hover {
  font-size: 22px;
  box-shadow: 4px 4px 4px rgba(126, 17, 181, 0.7);
}

@media (max-width: 1200px) {
  .buttoncontainer {
    width: 260px;
    height: 54.9px;
  }
  .buttoncontainer > button {
    font-size: 18px;
    width: 260px;
    height: 54.9px;
  }
  .buttoncontainer > button:hover {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  .buttoncontainer {
    width: 200px;
    height: 42.7px;
  }
  .buttoncontainer > button {
    font-size: 16px;
    width: 200px;
    height: 42.7px;
  }
  .buttoncontainer > button:hover {
    font-size: 18px;
  }
}
@media (max-width: 427px) {
  .buttoncontainer {
    width: 180px;
    height: 35.25px;
  }
  .buttoncontainer > button {
    font-size: 14px;
    width: 180px;
    height: 35.25px;
  }
  .buttoncontainer > button:hover {
    font-size: 16px;
  }
}
