.serviceslist {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 350px);
  z-index: 1;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: left;
  min-height: 196px;
  width: 300px;
  margin-right: 20px;
  padding-right: 5px;
}

.service > img {
  margin-bottom: 20px;
}

.service > a,
p {
  margin-bottom: 10px;
}

.service > a {
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  font-family: "Lexend Deca", sans-serif;
  transition-duration: 0.6s;
}
.service > a:hover {
  color: #8a6cf8;
}

.service > div {
  min-height: 70px;
}
.service > div > p {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

/* .service > h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  background: -webkit-linear-gradient(
    45deg,
    #de00bb 2.82%,
    #8a6cf8 44.93%,
    #00d8e6 95.55%
  );
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

@media (max-width: 1200px) {
  .serviceslist {
    grid-template-columns: repeat(3, 300px);
  }
  .service {
    min-height: 120px;
    width: 250px;
  }
  .service > img {
    width: 45px;
    height: 45px;
  }
  .service > a {
    font-size: 22px;
  }
  .service > h4 {
    font-size: 16px;
  }
  .service > div > p {
    font-size: 16px;
  }
}
@media (max-width: 1000px) {
  .serviceslist {
    grid-template-columns: repeat(3, 250px);
  }
  .service > div {
    max-width: 240px;
  }
  .service > img {
    width: 40px;
    height: 40px;
  }
  .service > a {
    font-size: 20px;
  }
  .service > h4 {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .serviceslist {
    grid-template-columns: repeat(3, 210px);
  }
  .service {
    width: 200px;
  }
  .service > div {
    max-width: 200px;
  }
  .service > img {
    width: 30px;
    height: 30px;
  }
  .service > a {
    font-size: 18px;
  }
  .service > h4 {
    font-size: 14px;
  }
  .service > div > p {
    font-size: 14px;
  }
}
@media (max-width: 642px) {
  .serviceslist {
    grid-template-columns: repeat(2, 200px);
    gap: 10px;
  }
  .service {
    max-width: 200px;
    min-height: 170px;
    max-height: 196px;
  }
}
@media (max-width: 480px) {
  .serviceslist {
    grid-template-columns: repeat(2, 200px);
  }
  .service {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 20px;
  }
  .service > img {
    margin-bottom: 2px;
  }
  .service > a,
  p {
    margin-bottom: 1px;
  }
  .service > a {
    font-size: 16px;
  }
  .service {
    max-width: 180px;
    min-height: 0;
    max-height: none;
  }
  .service > div > p {
    font-size: 16px;
  }
  .service > div {
    min-height: auto;
    margin-bottom: 20px;
  }
}

@media (max-width: 450px) {
  .serviceslist {
    display: flex;
    flex-direction: column;
  }
  .service {
    width: auto;
    min-width: 300px;
  }
  .service > div {
    min-width: 300px;
  }
  .service > img {
    width: 40px;
    height: 40px;
  }
  .service > a {
    font-size: 20px;
  }
  .service > h4 {
    font-size: 14px;
  }
}

@media (max-width: 360px) {
  .serviceslist {
    align-items: center;
  }
  .service {
    min-width: 240px;
    max-width: 240px;
    margin-right: 0;
    padding-right: 0;
  }
  .service > img {
    width: 30px;
    height: 30px;
  }
  .service > div {
    min-width: 240px;
    max-width: 240px;
  }
  .service > a {
    font-size: 16px;
  }
  .service > h4 {
    font-size: 12px;
  }
}
@media (max-width: 275px) {
  .service {
    min-width: 200px;
    max-width: 200px;
  }
  .service > img {
    width: 25px;
    height: 25px;
  }
  .service > div {
    min-width: 200px;
    max-width: 200px;
  }
  .service > a {
    font-size: 14px;
  }
  .service > h4 {
    font-size: 10px;
  }
}
