.serviceslist {
  width: 1217.78px;
  display: grid;
  grid-template-columns: repeat(3, 350px);
  z-index: 1;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: left;
  min-height: 196px;
  width: 282px;
  margin-right: 20px;
  padding-right: 5px;
}

.service > img,
h3,
p {
  margin-bottom: 10px;
}

.service > h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

.service > div {
  min-height: 70px;
}
.service > div > p {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.service > h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  background: -webkit-linear-gradient(
    45deg,
    #de00bb 2.82%,
    #8a6cf8 44.93%,
    #00d8e6 95.55%
  );
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
