.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
  width: 1050px;
}

.animcont > h1 {
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 50px;
  color: rgba(208, 100, 255, 1);
  text-align: left;
  font-family: "Lexend Deca", sans-serif;
}

.text {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}

.text > p {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 10px;
}

.vacancy {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid rgba(5, 208, 227, 1);
}

.vacancy > div {
  margin-left: 5%;
}

.namehandler {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2%;
  margin-bottom: 2%;
}

.namehandler > span {
  font-size: 32px;
  font-weight: 500;
}

.namehandler > button {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-right: 2%;
}

@media (max-width: 1200px) {
  .animcont > h1 {
    font-size: 55px;
  }
  .container {
    width: 900px;
  }
}
@media (max-width: 1000px) {
  .container {
    width: 755px;
  }
  .animcont > h1 {
    font-size: 50px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 640px;
  }
  .animcont > h1 {
    font-size: 45px;
  }
}
@media (max-width: 660px) {
  .vacancy {
    width: 98%;
  }
}
@media (max-width: 642px) {
  .container {
    width: auto;
    align-items: center;
  }
  .vacancy {
    width: 500px;
  }
  .namehandler > span {
    font-size: 26px;
  }
  .namehandler > button > img {
    width: 40px;
    height: 40px;
  }
  .animcont > h1 {
    text-align: center;
  }
}
@media (max-width: 515px) {
  .vacancy {
    width: 400px;
  }
  .namehandler > span {
    font-size: 24px;
  }
  .namehandler > button > img {
    width: 30px;
    height: 30px;
  }
  .text > p {
    font-size: 16px;
  }
}

@media (max-width: 420px) {
  .namehandler > span {
    font-size: 20px;
  }
  .vacancy {
    width: 350px;
  }
}
@media (max-width: 360px) {
  .vacancy {
    width: 295px;
  }
}
@media (max-width: 300px) {
  .container > h1 {
    font-size: 40px;
  }
  .vacancy {
    width: 250px;
  }
  .namehandler > span {
    font-size: 18px;
  }
  .namehandler > button > img {
    width: 25px;
    height: 25px;
  }
  .text > p {
    font-size: 14px;
  }
}

@media (max-width: 251px) {
  .vacancy {
    width: 200px;
  }
}
