.about {
  text-align: left;
  font-size: 24px;
  font-weight: 400;
  z-index: 1;
}

.about > p {
  padding-right: 30%;
}

.about > p > span {
  color: rgba(6, 212, 231, 1);
}

@media (max-width: 1200px) {
  .about {
    font-size: 22px;
    max-width: 760px;
  }
}
@media (max-width: 1000px) {
  .about {
    font-size: 20px;
    max-width: 650px;
  }
}

@media (max-width: 768px) {
  .about {
    font-size: 18px;
    max-width: 440px;
  }
}
@media (max-width: 768px) {
  .about {
    max-width: 390px;
  }
  .about > p {
    padding-right: 0;
  }
}
@media (max-width: 480px) {
  .about {
    max-width: 100%;
    font-size: 16px;
    padding-left: 10px;
  }
}

@media (max-width: 360px) {
  .about {
    margin-left: 5%;
  }
}
