.container {
  width: 100vw;
  height: 857px;
  background-image: url("/background.jpg");
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1200px) {
  .container {
    height: 790px;
  }
}
@media (max-width: 1000px) {
  .container {
    height: 700px;
  }
}
@media (max-width: 768px) {
  .container {
    height: 635px;
  }
}
@media (max-width: 480px) {
  .container {
    height: 600px;
  }
}
@media (max-width: 430px) {
  .container {
    height: 430px;
  }
}
/* @media (max-width: 375px) {
  .container {
    height: 500px;
  }
} */
