.cardscontainer {
  display: flex;
  flex-direction: column;
  border: none;
  background-image: url("/portfoliobckground.jpg");
  background-position: center;
}

.cardscontainer > button {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.btncont {
  display: inline-flex;
  justify-content: center;
}

.portbtn > button {
  margin: 20px;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  transition-duration: 0.5s;
}

.portbtn > button:hover {
  box-shadow: 4px 4px 4px rgba(186, 10, 186, 0.5);
}

.spreadList {
  border: none;
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  background-image: url("/portfoliobckground.jpg");
  background-position: center;
  justify-items: center;
}

.spreadList > img {
  margin: 10px;
}

@media (max-width: 1200px) {
  .btncont {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    justify-items: center;
    gap: 30px;
  }
}
@media (max-width: 1000px) {
  .spreadList {
    grid-template-columns: repeat(2, 0.5fr);
  }
}
@media (max-width: 675px) {
  .btncont {
    grid-template-columns: repeat(1, 300px);
    justify-items: center;
    gap: 0;
  }
  .spreadList {
    grid-template-columns: repeat(1, 0.1fr);
    justify-content: center;
    margin: 10px 0;
  }
}
@media (max-width: 400px) {
  .btncont {
    padding-left: 0;
    margin-left: 0;
    justify-content: center;
  }
  .spreadList {
    padding-left: 0;
    justify-content: center;
  }
}
