.container {
  height: 400px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.4);
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(17, 8, 65, 1) 35%,
    rgb(2, 6, 50) 100%
  );
}

.container > div {
  margin: 20px 10px;
  border-bottom: 1px solid #ec61d7;
  font-weight: 200;
  line-height: 22px;
  letter-spacing: 0em;
}

.container > div > h3 {
  font-size: 20px;
  background: -webkit-linear-gradient(90deg, #de00bb 0%, #00d8e6 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container > div > p {
  font-size: 18px;
  color: #00d8e6;
}

@media (max-width: 1200px) {
  .container {
    height: 350px;
    width: 350px;
  }
  .container > div > h3 {
    font-size: 18px;
  }
  .container > div > p {
    font-size: 16px;
  }
}
@media (max-width: 1000px) {
  .container {
    height: 300px;
    width: 300px;
  }
  .container > div > h3 {
    font-size: 16px;
  }
  .container > div > p {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .container {
    height: 250px;
    width: 250px;
  }
}
@media (max-width: 559px) {
  .container {
    height: 350px;
    width: 350px;
  }
}
