.container {
  margin-top: 230px;
  margin-left: 162px;
  display: flex;
  align-items: center;
}

.container > div {
  margin: 0px 20px;
  width: 350px;
  height: 62px;
  border-radius: 15px;
  background: #1b1824;
  opacity: 0.7;
  display: flex;
}

.container > div > p {
  color: rgb(0, 255, 255);
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  margin: 20px 20px;
  padding: 0 15px;
  text-align: center;
}

.container > div > img {
  position: relative;
}

@media (max-width: 1200px) {
  .container {
    margin-left: 102px;
    margin-top: 220px;
  }
  .container > div {
    width: 315px;
    height: 64px;
  }
  .container > div > p {
    font-size: 16px;
    margin: 15px 15px;
    padding: 0 10px;
  }
  .container > div > img {
    width: 25;
    height: 25;
  }
}
@media (max-width: 1000px) {
  .container {
    margin-left: 0px;
    justify-content: center;
    margin-top: 190px;
  }
  .container > div {
    width: 200px;
    height: 70px;
  }
  .container > div > p {
    font-size: 16px;
    margin: 15px 5px;
    padding: 0 5px;
  }
  .container > div > img {
    width: 20;
    height: 20;
  }
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    margin-top: 30px;
  }
  .container > div {
    margin-bottom: 25px;
    width: 200px;
    height: 70px;
  }
  .container > div > p {
    font-size: 14px;
    margin: 15px 5px;
    padding: 0 5px;
  }
  .container > div > img {
    width: 20;
    height: 20;
  }
}

@media (max-width: 480px) {
  .container > div {
    margin-bottom: 25px;
    width: 200px;
    height: 70px;
  }
  .container > div > p {
    font-size: 14px;
    margin: 15px 3px;
    padding: 3px 3px;
  }
  .container > div > img {
    width: 13;
    height: 13;
  }
}
@media (max-width: 376px) {
  .container > div {
    height: 55px;
  }
  .container > div > p {
    font-size: 12px;
    margin: 10px 1px;
  }
  .container > div > img {
    width: 10;
    height: 10;
  }
}
